<div id="main" ng-controller="ProjectsCtrl">
  <header class="">
    <h1>SIMPLE TODO LISTS<br/><small>FROM RUBY GARAGE</small></h1>
  </header>
  <div class="projects-container ng-scope panel panel-default text-left" ng-repeat="project in projects | orderBy: 'created_at':true">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-tasks"></span>
      <b class="project-name" data-value="{{project.id}}" editable-text="project.title" e-form="PojectTitleForm" onaftersave="updateTitle(project.id)">{{project.title}}</b>
      <div class="pull-right">
        <a class="show-on-hover edit-project-title" href=""><span class="glyphicon glyphicon-pencil" ng-click="PojectTitleForm.$show()" ng-hide="PojectTitleForm.$visible"></span></a>
        <a class="show-on-hover" href="" ng-click="remove(project)"><span data-value="{{project.id}}" class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
    <div class="panel-body" data-value="{{project.id}}">
      <span class="glyphicon glyphicon-plus pull-left"></span>
      <form>
        <div class="input-group">
          <input placeholder="Start typing here to create a task..." type="text" data-name="{{project.id}}" class="task-name form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default new-task-btn" data-value="{{project.id}}" ng-click="addTask($event, project)">Add Task</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>    
    <table class="table tasks-table" data-as-sortable="dragControlListeners" data-ng-model="project.tasks">
      <tbody ng-repeat="task in project.tasks | orderBy: 'priority':true" data-as-sortable-item>
        <tr data-as-sortable-item-handle class="task-row" ng-class="{'last-row':$last}">   
          <td class="task-completion">
            <input type="checkbox" ng-model="task.completed" ng-change="changeTaskState(task)" />
          </td>
          <td class="td-space"></td>
          <td class="unselectable task-data">
            <b id="{{task.id}}" class="unselectable line-through-{{task.completed}}" editable-text="task.title" e-form="TaskTitleForm" onbeforesave="validateTaskTitle(project)" onaftersave="updateTaskTitle(task)"> {{task.title}}
            </b>          
            <a class="show-on-hover" href=""><span class="glyphicon glyphicon-pencil" ng-click="TaskTitleForm.$show()" ng-hide="TaskTitleForm.$visible"></span></a>
          </td>
          <td class="task-deadline">
            <p class="input-group">
              <input placeholder="Enter task deadline..." type="text" readonly tabindex="-1" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="task.deadline" is-open="task.isOpen" min-date="minDate" max-date="'2099-06-22'" datepicker-options="dateOptions" close-text="Close" ng-change="changeTaskDeadline(task)" >
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="open($event, task)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </td>        
          <td class="task-actions">
            <a class="show-on-hover" href="" ng-click="removeTask($event, task, project)"><span class="remove-task glyphicon glyphicon-trash"></span></a>
            <a class="show-on-hover" href="" ng-click="showComments(task)"><span class="glyphicon glyphicon-comment"></span></a>          
          </td>        
        </tr>
        <tr data-as-sortable-item-handle class="comments-row-{{task.id}} unvisible">
          <td class="task-completion"></td>
          <td class="td-space"></td>
          <td colspan="3" class="add-comment unselectable">
            <form class="form-inline new-comment-form-{{task.id}} pull-right" role="form" ng-submit="addComment($event, task)" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="sr-only" for="comment-{{task.id}}">Email address</label>
                <input placeholder="Start typing here to add a comment..."  id="comment-{{task.id}}" autocomplete="off" type="text" class="input-sm form-control new-comment-text" name="comment">
              </div>              
            <div class="input-group">        
              <span class="input-group-btn">                  
                <span class="btn btn-default btn-sm btn-file">
                  Attach image <input type="file" name="file" class="comment-file-{{task.id}}" data="{{task.id}}" onchange="angular.element(this).scope().onCommentAttachment(this)" />
                </span>
              </span>
              <input type="text" class="form-control input-sm file-input-label-{{task.id}}" readonly>
            </div>
              <button type="submit" class="btn btn-default btn-sm">Add Comment</button>
            </div>
            </form>            
          </td>
        </tr>
        <tr data-as-sortable-item-handle ng-repeat="comment in task.comments | orderBy: 'created_at':true" class="unvisible comments-row-{{task.id}}" >
          <td class="task-completion"></td>
          <td class="unselectable comment-text" colspan="2"><div class="well well-sm">{{comment.text}}</div></td>
          <td class="comment-image">
            <a ng-href="{{comment.file_full_url}}" target="_blank" class="pull-right">
              <img ng-src="{{comment.file_thumb_url}}" />
            </a>
          </td>
          <td class="comment-actions">
            <a class="show-on-hover" href="" ng-click="removeComment($event, comment, task)"><span class="remove-comment glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
  <button ng-click="addProject()" type="button" class="btn btn-primary">Add TODO List</button>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: 'sign-out' %>
</div>