.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
  background: -webkit-linear-gradient(#DEDEDE, #DBD4C1, #EBCF83, #E69D00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #DEDEDE, #DBD4C1, #EBCF83, #E69D00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#DEDEDE, #DBD4C1, #EBCF83, #E69D00); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #DEDEDE, #DBD4C1, #EBCF83, #E69D00); /* Standard syntax (must be last) */
}

#sign-out {
  margin-bottom: 5em;
}

header {
  margin-top: 3em;
  margin-bottom: 5em; 
}

/*.verticalLine {
  border-left: 1px solid red ;
  min-width: 3px;
  min-height: 600px;
  display: inline;
}*/
/*E3E3E3*/