// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  text-align: center;
}

#main > a {
  display: block;
  margin-top: 13px;
}

.project-name {
  margin-left: 20px;
}

.panel-body {
  padding: 6px 5px 6px 5px !important;
  box-shadow: 0px 2px 1px #3154B5 inset;
  background-color: #D9D9D9; 
}

.panel-body .glyphicon-plus {
  font-size: 30px;
  color: #2B7820;
  width: 5%;
  text-align: center;
}

.panel-body .input-group {
  width: 93%;
  margin: auto;
}

.panel-body .input-group input {
  border-style: inset !important;
  border-radius: 0px !important;
  border: none !important;
  box-shadow: 1px 2px 1px #B3B3B3 inset !important;  
}

.panel-body .input-group button {
  background-color: #239C0E;
  color: white;
  border: 1px solid black;
  border-style: outset;
}

.panel-body .input-group button:hover {
  border-style: ridge;
}

.panel-body .input-group button:active {
  border-style: inset;
}

.projects-container {
  width: 60em;
  margin: auto;
  margin-bottom: 3em !important;
  box-shadow: 0px 1px 1px black !important;
  border: none !important;
  border-radius: 0px 0px 10px 10px !important;
}

.projects-container a {
  color: #E0E0E0;
  font-size: 15px;
}

.projects-container a:hover {
  color: black;
  font-size: 15px;
}

.border {
  border: 5px red !important;
}

.panel-heading {
  box-shadow: 0px 1px 1px #4170F0 inset !important;
  background-color: #4170F0 !important;
  border-radius: 0px !important;
  border: none !important;
}

.panel-heading b {
  color: white !important;
  font-size: 17px;
}