// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  text-align: center;
}

#main > a {
  display: block;
  margin-top: 13px;
}