// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasks-table {
  text-align: left !important;
  color: #858585;
}

.tasks-table tbody:first-child tr:first-child {
  box-shadow: 0px 2px 1px #B3B3B3 inset !important;
}

.tasks-table tbody .last-row:hover td:first-child {
  border-bottom-left-radius: 10px !important; 
}

.tasks-table tbody .last-row:hover td:last-child {
  border-bottom-right-radius: 10px !important;
}

.line-through-true {
  text-decoration: line-through;
}

.line-through-false {
  text-decoration: none;
}

.task-completion {
  width: 3%;
  border-right: 1px solid #E3E3E3;
}

.td-space {
  border: none;
  width: 5px !important;
  padding: 0px !important;
}

.task-actions {
  width: 11%;
  border-left: 1px solid #E3E3E3;
}

.task-data a, .task-actions a {
  float: right;
  margin: 0px 5px 0px 5px;
}

.task-data a {
  position: relative;
  left: 252px;/*40px;*/
}

.task-data {
  border-left: 1px solid #E3E3E3;  
}

.show-on-hover {
  visibility: hidden;
}

.tasks-table tr:hover .show-on-hover, .panel-heading:hover .show-on-hover {
  visibility: visible;
};

.tasks-table tr.task-row:hover td {
  background-color: #FCF8D9 !important;
}

.tasks-table a {
  color: #787878;
}

.tasks-table a:hover {
  color: black;
}

.tasks-table a:active {
  color: #787878 !important;
}

.tasks-table td b {
  margin-left: 10px;
}

.task-deadline {
  width: 25%;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}

.task-deadline .input-group {
  margin: 0px; 
  max-height: 10px !important;  
}

.task-deadline .input-group input {
  text-align: center !important;
}