<!DOCTYPE html>
<html>
<head>
  <title>ToDoListAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="angular-route.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="todoListApp">

<%= yield %>

</body>
</html>
